{\rtf1\ansi\ansicpg1252\cocoartf2761
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 body \{\
    font-family: Arial, sans-serif;\
    background-color: #160337;\
    color: #160337;\
    text-align: center;\
    padding: 20px;\
\}\
\
header \{\
    background-color: #370f7e;\
    color: #f7f5ff;\
    padding: 20px;\
    border-radius: 10px;\
\}\
\
form \{\
    margin: 20px auto;\
    display: flex;\
    flex-direction: column;\
    max-width: 300px;\
\}\
\
input[type="text"] \{\
    padding: 10px;\
    margin-bottom: 10px;\
    border: 1px solid #f7f5ff;\
    border-radius: 5px;\
\}\
\
button \{\
    padding: 10px;\
    background-color: #86d600;\
    border: none;\
    color: #fff;\
    border-radius: 5px;\
    cursor: pointer;\
\}\
\
button:hover \{\
    background-color: #6db600;\
\}\
}
